<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<Configuration packages="de.chennemann.utils.logging.converter" status="INFO">
    <Appenders>
        <Console name="DEFAULT" target="SYSTEM_OUT" follow="true">
            <PatternLayout disableAnsi="false"
                           pattern="%style{%d{HH:mm}}{green,bold,bright}  %d{dd.MM.yyyy}  %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=magenta bright bold, ERROR=red bright bold, WARN=yellow bright bold, INFO=green bright bold, DEBUG=blue bright bold, TRACE=cyan bright bold} %style{%pid}{magenta}  [%6.6t]  %style{%-32.32C{.}}{cyan}  :   %style{%wMessage}{bright,bold}%n%style{%eThrowable}{red,bold,bright}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="DEFAULT"/>
        </Root>
        <Logger name="de.chennemann" level="TRACE" additivity="false">
            <AppenderRef ref="DEFAULT"/>
        </Logger>
    </Loggers>
</Configuration>